In [49]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('http://www.stat.wisc.edu/~jgillett/451/data/mtcars.csv', index_col=0)

In [5]:
df.shape[1]

11

In [11]:
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [17]:
vs_carb_crosstab = pd.crosstab(df['vs'], df['carb'])
v_engines_2_carb = vs_carb_crosstab.at[1, 2]
print(f"The number of cars with V engines and 2 carburetors is {v_engines_2_carb}.")

The number of cars with V engines and 2 carburetors is 5.

In [39]:
sum(df['hp'])/len(df['hp'])

146.6875

In [45]:
df.loc['Honda Civic']

mpg     30.400
cyl      4.000
disp    75.700
hp      52.000
drat     4.930
wt       1.615
qsec    18.520
vs       1.000
am       1.000
gear     4.000
carb     2.000
Name: Honda Civic, dtype: float64

In [65]:
df2 = df.iloc[:4, :3]
# np.std(df2['mpg'])
mpg_std = df2['mpg'].std()
mpg_std

0.8544003745317535

In [69]:
df3 = df[['hp','qsec','gear']]
df3

                      hp   qsec  gear
Mazda RX4            110  16.46     4
Mazda RX4 Wag        110  17.02     4
Datsun 710            93  18.61     4
Hornet 4 Drive       110  19.44     3
Hornet Sportabout    175  17.02     3
Valiant              105  20.22     3
Duster 360           245  15.84     3
Merc 240D             62  20.00     4
Merc 230              95  22.90     4
Merc 280             123  18.30     4
Merc 280C            123  18.90     4
Merc 450SE           180  17.40     3
Merc 450SL           180  17.60     3
Merc 450SLC          180  18.00     3
Cadillac Fleetwood   205  17.98     3
Lincoln Continental  215  17.82     3
Chrysler Imperial    230  17.42     3
Fiat 128              66  19.47     4
Honda Civic           52  18.52     4
Toyota Corolla        65  19.90     4
Toyota Corona         97  20.01     3
Dodge Challenger     150  16.87     3
AMC Javelin          150  17.30     3
Camaro Z28           245  15.41     3
Pontiac Firebird     175  17.05     3
Fiat X1-9             66  18.90     4
Porsche 914-2         91  16.70     5
Lotus Europa         113  16.90     5
Ford Pantera L       264  14.50     5
Ferrari Dino         175  15.50     5
Maserati Bora        335  14.60     5
Volvo 142E           109  18.60     4

In [75]:
df.sort_index(ascending = False)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2

In [88]:
df.sort_values(by = ['gear', 'hp'], ascending=[True, False]).iloc[0]['mpg']

# df2 = df.sort_values(by=['gear', 'hp'], ascending=[True, False])

# first_row_mileage = df2.iloc[0]['mpg']
# print(f"The mileage (mpg) of the car in the first row is {first_row_mileage}.")

14.3

In [100]:
tlxiong = pd.read_csv("tlxiongQ5.csv")
tlxiong

    age sex  weight eye_color hair_color
0    24   F   103.0      blue      blond
1    21   M   128.3      blue        red
2    18   F   204.1     brown      brown
3    16   M   203.7     hazel      brown
4    18   M   182.6      blue      blond
5    14   F   145.1     brown      black
6    14   M   173.6     amber      blond
7    22   M   192.3      blue      black
8    17   F   232.6     brown      black
9    20   M   122.6     green     auburn
10   20   M   206.4     amber     auburn
11   17   M   219.2     hazel      blond
12   19   F   178.1     hazel   chestnut
13   19   M   178.3      gray      white
14   18   M   133.6     green   chestnut
15   16   F   185.1      blue      black
16   12   F   202.1     hazel       gray
17   16   F   220.9      gray   chestnut
18   19   F   181.3      blue      blond
19   19   M   252.4     green       gray

In [116]:
females = tlxiong[tlxiong['sex'] == 'F']
sum(females['age'])/len(females)

17.22222222222222

In [124]:
males = tlxiong[tlxiong['sex'] == 'M']
brown = males[males['eye_color'] == 'brown']
males

    age sex  weight eye_color hair_color
1    21   M   128.3      blue        red
3    16   M   203.7     hazel      brown
4    18   M   182.6      blue      blond
6    14   M   173.6     amber      blond
7    22   M   192.3      blue      black
9    20   M   122.6     green     auburn
10   20   M   206.4     amber     auburn
11   17   M   219.2     hazel      blond
13   19   M   178.3      gray      white
14   18   M   133.6     green   chestnut
19   19   M   252.4     green       gray

In [140]:
import pandas as pd
import numpy as np
df = tlxiong
hair_colors_of_interest = ['black', 'blond', 'brown']
mask = np.isin(df['hair_color'], hair_colors_of_interest)

# Filter the DataFrame using the mask
filtered_df = df[mask]

# Count the number of rows that match the condition
count = len(filtered_df)
print(f"The number of people with black, blond, or brown hair is {count}.")

The number of people with black, blond, or brown hair is 11.

In [164]:
tlxiong

    age sex  weight eye_color hair_color
0    24   F   103.0      blue      blond
1    21   M   128.3      blue        red
2    18   F   204.1     brown      brown
3    16   M   203.7     hazel      brown
4    18   M   182.6      blue      blond
5    14   F   145.1     brown      black
6    14   M   173.6     amber      blond
7    22   M   192.3      blue      black
8    17   F   232.6     brown      black
9    20   M   122.6     green     auburn
10   20   M   206.4     amber     auburn
11   17   M   219.2     hazel      blond
12   19   F   178.1     hazel   chestnut
13   19   M   178.3      gray      white
14   18   M   133.6     green   chestnut
15   16   F   185.1      blue      black
16   12   F   202.1     hazel       gray
17   16   F   220.9      gray   chestnut
18   19   F   181.3      blue      blond
19   19   M   252.4     green       gray

In [166]:

df = tlxiong

# Filtering the DataFrame for hazel eyes and grey hair
filtered_df = df[(df['eye_color'] == 'hazel') & (df['hair_color'] != 'gray')]

print(len(filtered_df))

3